<button>Add New Project</button>
<ul *ngFor="let group of data; index as i">
  <div style="margin-bottom:10px">
    <span style=";color:blue">{{ group.name }}</span>
    <button style="margin-left:10px">Add</button><button>Edit</button
    ><button>Delete</button>
  </div>
  <ul>
    <li *ngFor="let item of group.tasks; index as j">
      <div style="margin-bottom:10px">
        <span>{{ item.name }}</span
        ><button style="margin-left:10px">Add</button><button>Edit</button
        ><button>Delete</button>
      </div>
      <ul>
        <li *ngFor="let child of item.children; index as k">
          <div style="margin-bottom:10px">
            <span>{{ child.name }}</span>
            <button style="margin-left:10px">Edit</button
            ><button>Delete</button>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</ul>
